@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242424;
  color: white;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
/* //border radis purpose */

.gpt-message {
  border-radius: 30px;
  border-bottom-left-radius: 2px;
}
/* //border radis purpose */

.user-message {
  border-radius: 30px;
  border-bottom-right-radius: 2px;
}

@media only screen and (max-width: 426px) {
  .gpt-message {
    border-radius: 25px;
    border-bottom-left-radius: 2px;
  }
  /* //border radis purpose */

  .user-message {
    border-radius: 25px;
    border-bottom-right-radius: 2px;
  }
}

@media only screen and (max-width: 340px) {
  .gpt-message,
  .user-message {
    max-width: 70vw;
  }
}
